@charset "UTF-8";

/* =====================================================================共通部分========================================================== */

html {
  font-size: 100%;
}
body {
   font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3" sans-serif;
   line-height: 1.7;
   color: #432;
   /* font-weight: bold; */
   background-color: #fffeee;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.mb10{
  margin-bottom: 10px;
}


/* =======================================================================HEADER=================================================================== */

.page-header {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/*====================================================================HOME===================================================================== */

.home-content {
  text-align: center;
  margin-top: 25%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* --------------------------見出し ---------------------------------------*/

.page-title {
  font-size: 5rem;
  font-family: serif;
  text-transform: uppercase;
  font-weight: normal;
}

/*---------------------------------------------- ボタン ---------------------------------------------------------*/


/* -------------------------------------------------------------------大きな背景画像---------------------------------------------------------------- */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#home {

  background-blend-mode: luminosity;
  min-height: 100vh;
}
#home .page-title {
  text-transform: none;
}

/* ====================================================================NEWS================================================================================*/

#news {
  /* background-image: url(imges/ikuta.jpg); */
  /* background-color: #eaf6fd;
  height: 270px;
  margin-bottom: 40px; */
}
#news .page-title {
  text-align: center;
}

/* -----------------------------------------------------記事部分-------------------------------------------------- */
article {
  width: 100%;
  order: 2;
  margin-bottom: 50px;
}
.post-info {
  position: relative;
  padding-top: 4px;
  border-bottom: 1px rgba(255, 128, 0, .5) solid;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.post-title {
  font-family: "Yu Mincho" , "YuMincho" , serif;
  font-size: 2rem;
  font-weight: normal;
}

article img {
  margin-bottom: 20px;
  margin-top: 40px;
}
article p {
  /* margin-bottom: 1rem; */
  font-size: 1.1rem;
}

/* レイアウト */
.news-contents {
  /* display: flex; */
  justify-content: space-between;
  margin-top: 75px;
  margin-bottom: 50px;
}

/* ======================================================================FOOTER=================================================================== */
footer {
  background: #432;
  text-align: center;
  padding: 35px 0;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ モバイル版~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 600px) {

  .page-title {
    font-size: 2.5rem;
    padding-top: 20%;
  }

  .main-nav li {
    margin: 0 20px;
  }

  .home-content {
    margin-top: 20%;
  }

  .page-header {
    align-items: center;
  }

  .big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  #home .page-title {
    text-transform: none;
  }


  article {
    width: 100%;
  }

  article,
  p .url {
    font-size: 0.7rem
  }
  #news .page-title {
    margin-top: 30px;
  }

  .post-info {
    margin-bottom: 30px;
  }
  .post-date {
    width: 70px;
    height: 70px;
    font-size: 1rem;
  }
  .post-title {
    font-size: 1.375rem;
  }
  .post-cat {
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .post-title,
  .post-cat {
    margin-left: 80px;
  }


}
/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 300px;
} */

/* .container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px;
  gap: 10px;
}  */
